<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav th:fragment="navigation" class="ui top fixed menu inverted">
    <div class="ui container">
        <a class="header item" th:href="@{/}">
            <i class="pills icon"></i>
            ApoSys
        </a>
        
        <a class="item" th:href="@{/dashboard}" sec:authorize="isAuthenticated()">Dashboard</a>
        <a class="item" th:href="@{/checkout}" sec:authorize="hasAnyRole('BOSS', 'EMPLOYEE')">Kasse</a>
        <a class="item" th:href="@{/inventar}" sec:authorize="hasAnyRole('BOSS', 'EMPLOYEE')">Inventar</a> 
        <a class="item" th:href="@{/labor/liste}" sec:authorize="hasAnyRole('BOSS', 'EMPLOYEE')">Labor</a>

        <div class="ui dropdown item" sec:authorize="hasAnyRole('BOSS')">
            Verwaltung <i class="dropdown icon"></i>
            <div class="menu">
                <div class="header">Berichte</div>
                <a class="item" th:href="@{/berichte/verfall}">Verfallsliste</a>
                <a class="item" th:href="@{/berichte/nachbestellung}">Nachbestellungen</a>
                <a class="item" th:href="@{/report}">Kassenabrechnung</a>
                <a class="item" th:href="@{/berichte/praxisabrechnung}">Praxisabrechnung</a>
                <div class="divider"></div>
                <div class="header">Administration</div>
               <!--<a class="item" th:href="@{/admin/praxen}">Praxisverwaltung</a>-->
                <a class="item" th:href="@{/admin/benutzer}">Benutzerverwaltung</a>
                <a class="item" th:href="@{/admin/rezepturen}">Rezepturverwaltung</a>
            </div>
        </div>

        <div class="right menu">
            <div class="item" sec:authorize="isAuthenticated()">
                <i class="user outline icon"></i> <span sec:authentication="name">Username</span>
            </div>
            <div class="item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post" style="margin:0;">
                    <button class="ui button inverted mini" type="submit">Logout</button>
                </form>
            </div>
            <a class="item" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
        </div>
    </div>
</nav>

</body>
</html>